.Count-Page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background-color: rgb(8, 6, 6);
    height: 100vh;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.para {
    text-align: center;
    color: red;
    font-style: italic;
}
.btn-1 {
    padding: 15px;
    color: white;
    background-color: rgb(41, 62, 255);
    font-weight: bold;
    border-radius: 10px;
    font-size: 25px;
    border: 0px;
    height: auto;
    width: auto;
}
.btn-2 {
    padding: 15px;
    color: white;
    background-color: rgb(255, 81, 17);
    font-weight: bold;
    border-radius: 10px;
    font-size: 25px;
    border: 0px;
    height: auto;
    width: auto;
}

.count {
    color: red;
}

.heading {
    color: cyan;
}